<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<style>
.login{
top: 20%;
}
</style>
</head>

<body>
 <div class="login">
	<h1>Attrition of Employees</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('y_predict')}}"method="post">

      <div style="float:left;">
      <input type="number" name="AGE" placeholder="AGE"  required="required" />
    </div>
<div style="float:left;">
      <input list="BusinessTravel" name="BusinessTravel" placeholder="BusinessTravel" required="required">
      <datalist id="BusinessTravel">
      <option value="Travel_Frequently">
      <option value="Travel_Rarely">
      </datalist>
    </div>
    <div style="float:left;">
      <input type="number" name="DailyRate" placeholder="DailyRate" required="required" />
  </div>
  <div style="float:left;">
      <input list="Department" name="Department" placeholder="Department" required="required">
      <datalist id="Department">
      <option value="Sales">
      <option value="Research & Development">
      <option value="Human Resources">
      </datalist>
  </div>


<div style="float:left;">
      <input list="EducationField" name="EducationField" placeholder="EducationField" required="required">
      <datalist id="EducationField">
      <option value="Life Sciences">
      <option value="Medical">
      <option value="Marketing">
      <option value="Technical Degree">
      <option value="Human Resources">
      <option value="Others">
      </datalist>
  </div>


<div style="float:left;">
      <input list="EnvironmentSatisfaction" name="EnvironmentSatisfaction" placeholder="EnvironmentSatisfaction" required="required">
      <datalist id="EnvironmentSatisfaction">
      <option value="1">
      <option value="2">
      <option value="3">
      <option value="4">
      <option value="5">
      </datalist>
  </div>

      <div style="float:left;">
      <input list="Gender" name="Gender" placeholder="Gender" required="required">
      <datalist id="Gender">
      <option value="Female">
      <option value="Male">
      </datalist>
  </div>

      <div style="float:left;">
      <input list="JobInvolvement" name="JobInvolvement" placeholder="JobInvolvement" required="required">
      <datalist id="JobInvolvement">
      <option value="1">
      <option value="2">
      <option value="3">
      <option value="4">
      <option value="5">
      </datalist>
  </div>
      <div style="float:left;">
      <input list="JobRole" name="JobRole" placeholder="JobRole" required="required">
      <datalist id="JobRole">
      <option value="Sales Executive">
      <option value="Research Scientist">
      <option value="Laboratory Technician">
      <option value="Manufacturing Director">
      <option value="Healthcare Representative">
      <option value="Manager">
      <option value="Sales Representative">
      <option value="Research Director">
      <option value="Human Resources">
      </datalist>
  </div>


      <div style="float:left;">
      <input list="JobSatisfaction" name="JobSatisfaction" placeholder="JobSatisfaction" required="required">
      <datalist id="JobSatisfaction">
      <option value="1">
      <option value="2">
      <option value="3">
      <option value="4">
      <option value="5">
      </datalist>
  </div>

      <div style="float:left;">
      <input list="MaritalStatus" name="MaritalStatus" placeholder="MaritalStatus" required="required">
      <datalist id="MaritalStatus">
      <option value="Single">
      <option value="Married">
      <option value="Divorced">
      </datalist>
  </div>
      <div style="float:left;">
      <input type="number" name="NumCompaniesWorked" placeholder="NumCompaniesWorked" required="required" />
  </div>

      <div style="float:left;">
      <input list="OverTime" name="OverTime" placeholder="OverTime" required="required">
      <datalist id="OverTime">
      <option value="YES">
      <option value="NO">
      </datalist>
  </div>
      <div style="float:left;">
      <input type="number" name="PercentSalaryHike" placeholder="PercentSalaryHike" required="required" />
  </div>

<div style="float:left;">
      <input list="PerformanceRating" name="PerformanceRating" placeholder="PerformanceRating" required="required">
      <datalist id="PerformanceRating">
      <option value="1">
      <option value="2">
      <option value="3">
      <option value="4">
      <option value="5">
      </datalist>
  </div>

      <div style="float:left;">
      <input list="RelationshipSatisfaction" name="RelationshipSatisfaction" placeholder="RelationshipSatisfaction" required="required">
      <datalist id="RelationshipSatisfaction">
      <option value="1">
      <option value="2">
      <option value="3">
      <option value="4">
      <option value="5">
      </datalist>
  </div>

      <div style="float:left;">
      <input type="number" name="TotalWorkingYears" placeholder="TotalWorkingYears" required="required" />
  </div>


<div style="float:left;">
      <input type="number" name="YearsInCurrentRole" placeholder="YearsInCurrentRole" required="required" />
  </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
